@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
span,
input,
select {
  font-family: "Poppins";
}

body {
  background-color: rgb(224, 225, 225);
  font-family: "Poppins";
}

body::before {
  content: "";
  width: 100%;
  height: 378px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgb(32, 67, 97);
}

header {
  width: 320px;
  margin-top: 80px;
}

header h1 {
  font-family: "Staatliches", sans-serif;
  font-weight: bold;

  color: aliceblue;

  font-size: 36px;
  line-height: 48px;
  margin-bottom: 30px;
}

header p {
  font-family: "Poppins", sans-serif;
  color: rgb(243, 249, 255);
  font-size: 16px;
  margin-bottom: 30px;
}

.page {
  width: 750px;
  margin: 0 auto;
}

form {
  background: #f3ebeb;

  display: flex;
  flex-direction: column;

  width: 750px;
  height: 1084px;
  min-height: 400px;
  margin-top: 48px;
  margin: 0 auto;

  padding: 64px;

  border-radius: 20px 20px 0px 0px;

  gap: 48px;
}

fieldset {
  border: none;
}

legend {
  padding-bottom: 16px;
  border-bottom: 2px solid rgb(218, 210, 210);

  width: 622px;
  color: #535971;

  font-family: "Staatliches";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.input-wrapper {
  color: #4e4958;
  margin: 12px 12px;
  width: 42.97px;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  display: flex;
  flex-direction: row;
  gap: 20px;
}

input:invalid {
  border: 1px solid red;
}

#nome,
#firstname,
#email {
  width: 300px;
  height: 56px;

  margin-bottom: 12px;
  padding: 10px;

  border-radius: 8px;
  border: 1px solid var(--Back-Lines-in-white, #e6e6f0);
  background: var(--Shapes-02, #fafafc);
}

#email {
  gap: 20px;

  margin-bottom: 12px;

  width: 620px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--Back-Lines-in-white, #e6e6f0);
  background: var(--Shapes-02, #fafafc);
}

.primeira legend {
  color: #535971;
  margin-top: 22px;
  border-bottom: none;

  font-family: Staatliches;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.segunda legend {
  color: #535971;
  margin-top: 22px;
  border-bottom: none;

  font-family: Staatliches;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.col {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  font-size: normal;
  font-family: "Poppins";
}

.date-initial input {
  width: 300px;

  border-radius: 8px;
  border: 1px solid var(--Back-Lines-in-white, #e6e6f0);
  background: var(--Shapes-02, #fafafc);
  top: 56px;
  height: 56px;
  align-items: center;
}

.date-initial span {
  color: #8a8b8e;
}

.date-initial span:hover {
  color: #2c2e32;
}

.col input {
  display: flex;
  top: 30px;
}

.time-das input {
  gap: 20px;
  width: 140px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--Back-Lines-in-white, #e6e6f0);
  background: var(--Shapes-02, #fafafc);
}
.time-as input {
  width: 140px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--Back-Lines-in-white, #e6e6f0);
  background: var(--Shapes-02, #fafafc);
}

footer {
  display: fixed;
  padding-left: 8px;
  width: 750px;
  height: 160px;
  flex-shrink: 0;
  border-radius: 0px 0px 20px 20px;
  background: #535971;
  margin: 0 auto;
}

footer button {
  border-radius: 20px;
  background: #ff5374;
  margin: 50px 50px 0;
  width: 608px;
  height: 55.652px;

  gap: 10px;
  flex-shrink: 0;
}

footer button:hover {
  background: #6d2231;
}
