#hero {
  width: 592px;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

body img {
  height: 200px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  top: 0;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 46px;
  line-height: 56px;
}

h1 span {
  font-weight: bold;
}

p {
  color: #7d7087;
}

span,
a {
  color: #ff9900;
}
